doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Welcome to member project page
      nav
        ul
          li
            a(href="/") Home
          if !currentUser 
            li
              a(href="/sign-up") Sign up
            li
              a(href="/log-in") Login
          else
            li
              a(href="/post/create") Create a new post
            li
              a(href="/log-out") Log out
            li
              a(href="/join-club") Join club
            li
              a(href="/admin-permission") Be an admin

    main
      block content
    footer
      p Copyright © 2023 My Random Project