extends layout

block content
    div(class="container")
        h1=title
        form(method="POST") 
            div.form-group
                label(for="title") Title:
                input#title(type="text", name="title", required=true, placeholder="Post title" value=(undefined===post ? '' : post.title))
            div.form-group
                label(for="content") Content:
                textarea#content(name="content", required=true, placeholder="Write your post content here..." value=(undefined===post ? '' : post.content))
            button(type="submit") Create Post
    if errors
        ul
        for error in errors
            li!= error.msg