extends layout 

block content 
    if currentUser
        h1= "WELCOME BACK "+ currentUser.username
    else 
        h2 You are not able to see welcome page until you login, please login or sign up to create an account to login!